.App {
  text-align: center;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ContentStyle {
  font-size: 35px;
  color: green;
  display: flex;
  justify-content: center;
}

.form, .chat  {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}
.chatBox {
  width: 1400px;
}


.chatMessage{
  list-style-type: none;
  margin-top: 25px;
  max-width: 400px;
  text-align: left;
 background-color:khaki;
}

.botAnswer {
text-align: right;
}


.ulList{
  width: 500px;
}

.input {
  width: 400px;
  height: 40px;
}

.button {
  cursor: pointer;
}

.author{
  text-transform: uppercase;
  font-weight: 300px;
  color:darkred;
}
